In [2]:
import pandas as pd
import numpy as np

In [64]:
dataframe=pd.read_csv("final data/cap-1 student info.csv")
dataframe.head()

,Unnamed: 0,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code
0,0,1,60,95.13%,DSE19106856,PAWAR SIDDHI RAVINDRASINGH,F,OPEN,NaN,201,^LOPEN,201,1002
1,1,2,213,93.38%,DSE19126045,MAHALLE SHRADDHA MOHANRAO,F,OBC,NaN,201,^GOPEN,201,1002
2,2,3,384,92.47%,DSE19105661,TUSHAR RAJESH LAHANE,M,OBC,NaN,201,#GOBC,201,1002
3,3,4,420,92.31%,DSE19103256,RAUT PALASH SUBHASH,M,OBC,NaN,201,^GOBC,201,1002
4,4,5,846,90.79%,DSE19148502,BIRAJDAR SAURABH DAYANAND,M,SEBC,NaN,201,*GSEBC,201,1002

In [68]:
dataframe.tail(50)

,Unnamed: 0,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code
75109,0,0,0,0,0,0,0,0,0,0,0,0,0
75110,0,0,0,0,0,0,0,0,0,0,0,0,0
75111,0,0,0,0,0,0,0,0,0,0,0,0,0
75112,0,0,0,0,0,0,0,0,0,0,0,0,0
75113,0,0,0,0,0,0,0,0,0,0,0,0,0
75114,0,0,0,0,0,0,0,0,0,0,0,0,0
75115,0,0,0,0,0,0,0,0,0,0,0,0,0
75116,0,0,0,0,0,0,0,0,0,0,0,0,0
75117,0,0,0,0,0,0,0,0,0,0,0,0,0
75118,0,0,0,0,0,0,0,0,0,0,0,0,0
75119,0,0,0,0,0,0,0,0,0,0,0,0,0
75120,0,0,0,0,0,0,0,0,0,0,0,0,0
75121,0,0,0,0,0,0,0,0,0,0,0,0,0
75122,0,0,0,0,0,0,0,0,0,0,0,0,0
75123,0,0,0,0,0,0,0,0,0,0,0,0,0
75124,0,0,0,0,0,0,0,0,0,0,0,0,0
75125,0,0,0,0,0,0,0,0,0,0,0,0,0
75126,0,0,0,0,0,0,0,0,0,0,0,0,0
75127,0,0,0,0,0,0,0,0,0,0,0,0,0
75128,0,0,0,0,0,0,0,0,0,0,0,0,0
75129,0,0,0,0,0,0,0,0,0,0,0,0,0
75130,0,0,0,0,0,0,0,0,0,0,0,0,0
75131,0,0,0,0,0,0,0,0,0,0,0,0,0
75132,0,0,0,0,0,0,0,0,0,0,0,0,0
75133,0,0,0,0,0,0,0,0,0,0,0,0,0
75134,0,0,0,0,0,0,0,0,0,0,0,0,0
75135,0,0,0,0,0,0,0,0,0,0,0,0,0
75136,0,0,0,0,0,0,0,0,0,0,0,0,0
75137,0,0,0,0,0,0,0,0,0,0,0,0,0
75138,0,0,0,0,0,0,0,0,0,0,0,0,0
75139,0,0,0,0,0,0,0,0,0,0,0,0,0
75140,75140,1,19444,73.76%,DSE19140973,KAGLE AMAR BHAGAVAN,M,OPEN,NaN,0304,GOPEN,801,6267
75141,75141,2,51666,57.76%,DSE19102924,MOHIRE ROHIT SANJAY,M,OBC,NaN,0302,GOPEN,801,6267
75142,0,0,0,0,0,0,0,0,0,0,0,0,0
75143,0,0,0,0,0,0,0,0,0,0,0,0,0
75144,0,0,0,0,0,0,0,0,0,0,0,0,0
75145,0,0,0,0,0,0,0,0,0,0,0,0,0
75146,0,0,0,0,0,0,0,0,0,0,0,0,0
75147,0,0,0,0,0,0,0,0,0,0,0,0,0
75148,0,0,0,0,0,0,0,0,0,0,0,0,0
75149,0,0,0,0,0,0,0,0,0,0,0,0,0
75150,0,0,0,0,0,0,0,0,0,0,0,0,0
75151,0,0,0,0,0,0,0,0,0,0,0,0,0
75152,0,0,0,0,0,0,0,0,0,0,0,0,0
75153,0,0,0,0,0,0,0,0,0,0,0,0,0
75154,0,0,0,0,0,0,0,0,0,0,0,0,0
75155,0,0,0,0,0,0,0,0,0,0,0,0,0
75156,0,0,0,0,0,0,0,0,0,0,0,0,0
75157,0,0,0,0,0,0,0,0,0,0,0,0,0
75158,0,0,0,0,0,0,0,0,0,0,0,0,0

In [67]:
vacent_entres=dataframe[dataframe["Merit No"]=="-"].index.values
dataframe.iloc[vacent_entres]=0

In [69]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75159 entries, 0 to 75158
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         75159 non-null  int64
 1   Sr.No.             75117 non-null  object
 2   Merit No           75117 non-null  object
 3   Marks              75117 non-null  object
 4   Application ID     75117 non-null  object
 5   Name of Candidate  75117 non-null  object
 6   Gender             75117 non-null  object
 7   Category           74989 non-null  object
 8   PWD/DEF            36495 non-null  object
 9   Sub Group          75117 non-null  object
 10  Seat Type          74989 non-null  object
 11  cource_code        75159 non-null  int64
 12  college_code       75159 non-null  int64
dtypes: int64(3), object(10)
memory usage: 7.5+ MB

In [86]:
data="80.0%"
result = ''.join([i for i in data if i.isdigit() or i=="."])

In [80]:
length=dataframe.shape
length[0]

75159

In [88]:
for i in range(length[0]):
    data=dataframe["Marks"].iloc[i]
    data=''.join([word  for word  in data if word.isdigit() or word=="."])
    dataframe["Marks"].iloc[i]=data

TypeError: 'int' object is not iterable

In [73]:
dataframe.head()

,Unnamed: 0,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code
0,0,1,60,95.13,DSE19106856,PAWAR SIDDHI RAVINDRASINGH,F,OPEN,NaN,201,^LOPEN,201,1002
1,1,2,213,93.38,DSE19126045,MAHALLE SHRADDHA MOHANRAO,F,OBC,NaN,201,^GOPEN,201,1002
2,2,3,384,92.47,DSE19105661,TUSHAR RAJESH LAHANE,M,OBC,NaN,201,#GOBC,201,1002
3,3,4,420,92.31,DSE19103256,RAUT PALASH SUBHASH,M,OBC,NaN,201,^GOBC,201,1002
4,4,5,846,90.79,DSE19148502,BIRAJDAR SAURABH DAYANAND,M,SEBC,NaN,201,*GSEBC,201,1002

In [77]:
dataframe.tail(20)

,Unnamed: 0,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code
75139,0,0,0,0,0,0,0,0,0,0,0,0,0
75140,75140,1,19444,73.76%,DSE19140973,KAGLE AMAR BHAGAVAN,M,OPEN,NaN,0304,GOPEN,801,6267
75141,75141,2,51666,57.76%,DSE19102924,MOHIRE ROHIT SANJAY,M,OBC,NaN,0302,GOPEN,801,6267
75142,0,0,0,0,0,0,0,0,0,0,0,0,0
75143,0,0,0,0,0,0,0,0,0,0,0,0,0
75144,0,0,0,0,0,0,0,0,0,0,0,0,0
75145,0,0,0,0,0,0,0,0,0,0,0,0,0
75146,0,0,0,0,0,0,0,0,0,0,0,0,0
75147,0,0,0,0,0,0,0,0,0,0,0,0,0
75148,0,0,0,0,0,0,0,0,0,0,0,0,0
75149,0,0,0,0,0,0,0,0,0,0,0,0,0
75150,0,0,0,0,0,0,0,0,0,0,0,0,0
75151,0,0,0,0,0,0,0,0,0,0,0,0,0
75152,0,0,0,0,0,0,0,0,0,0,0,0,0
75153,0,0,0,0,0,0,0,0,0,0,0,0,0
75154,0,0,0,0,0,0,0,0,0,0,0,0,0
75155,0,0,0,0,0,0,0,0,0,0,0,0,0
75156,0,0,0,0,0,0,0,0,0,0,0,0,0
75157,0,0,0,0,0,0,0,0,0,0,0,0,0
75158,0,0,0,0,0,0,0,0,0,0,0,0,0